@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap");

body {
  font-family: "Cabin";
  background-color: #758190;
  margin: 0;
}

#tentacles {
  width: 50px;
}

.header {
  display: flex;
  background-color: lightblue;
  padding: 1%;
  align-items: center;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -10px;
}

.stats-container {
  display: flex;
  align-items: baseline;
  padding: 0 2rem;
}

.stats-card:hover {
  cursor: pointer;
  box-shadow: 0 0 30px lightblue;
}

.stats-card {
  background-color: #a8b0bc;
  border-radius: 7px;
  padding: 1%;
  margin: 1%;
  width: 100%;
  text-align: center;
}

#num-contributions,
#total-raised,
#num-games {
  font-size: 50px;
}

#games-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.game-img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 10px #ffffff;
}

.game-card {
  background-color: #ffffff;
  padding: 1%;
  margin: 1%;
  width: 300px;
  text-align: center;
  border-radius: 7px;
}

.game-card:hover {
  cursor: pointer;
  box-shadow: 0 0 30px lightblue;
}

#button-container {
  text-align: center;
}

button {
  font-family: "Cabin";
  border: none;
  padding: 1%;
  margin: 1%;
  border-radius: 7px;
}

/* added css features */

body nav {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 5;
  padding: 0;
  margin: 0;
}

body nav ul {
  display: flex;
  padding-left: 1.5rem;
  margin-top: 0;
}

body nav ul li {
  list-style-type: none;
  margin: 1rem 1.5rem;
}

body nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  transition: all 0.1s ease;
}

body nav ul li a:hover {
  color: rgb(84, 224, 255);
}

h2 {
  padding: 4rem 0 0 3rem;
}

h2.welcome {
  padding: 2rem 0 0 3rem;
}

p {
  padding: 0 3rem 0 3rem;
}

* {
  scroll-behavior: smooth;
}
